body {
	overscroll-behavior: contain;
}

#color {
	border: none;
	outline: none;
	background: none;
	width: 32px;
	height: 32px;
}

.text {
	font-family: monospace;
	text-transform: uppercase;
	text-align: center;
}

.button {
	border: none;
	outline: none;
	background: none;
}

.button img {
	width: 32px;
	hoght: 32px;
}

#btnPlay {
	border: 1px solid transparent;
}

#btnEyedrop {
	border: 1px solid transparent;
}